// List Annotator (LISA) stylesheet
// Author: Abhishek Dutta <adutta@robots.ox.ac.uk>
// Date: 29 May 2020

body { font-family:sans; margin:0.2em 0.5em; padding:0; font-size:12pt; }
input { font-size:small; }
textarea { white-space: pre; overflow-wrap: normal; overflow-x: scroll; }
button { font-size:small; }
table { max-width:100%; border-collapse:collapse; }
td,th { border:1px solid #cccccc; padding:0.5em 1em; }
#shared_project_id { width:25em; }
#_lisa_container { position:relative; display:flex; flex-wrap:wrap; -webkit-user-select:none; -khtml-user-select:none; -webkit-touch-callout:none; -moz-user-select:none; -o-user-select:none; user-select:none; margin-bottom:2em; }
#_lisa_container::after { content:""; flex:auto; }
#_lisa_container figure { position:relative; display:inline-block; flex-grow:0; padding:0; margin:0.4em 0.2em; border:1px solid #c8c8c8; }
#_lisa_container figure img { object-fit:fill; border:none; margin:0; padding:0; }
#_lisa_container figure video { object-fit:fill; border:none; margin:0; padding:0; }
#_lisa_container figure span { position:absolute; top:0px; left:0px; pointer-events:none; background-color:black; color:white; font-size:small; padding:2px; }
#_lisa_container figure svg { position:absolute; top:0px; left:0px; pointer-events:none; }
#_lisa_container figure svg rect { stroke-width:0.1em; fill:none; stroke:yellow; pointer-events:none; }
#_lisa_container figure svg .sel { stroke:blue; fill:black; fill-opacity:0.1; }

#_lisa_container figure figcaption {}
#_lisa_container figure figcaption #item_toolbar_container { display:inline-block; text-align:center; padding:0.4em 0; }
#_lisa_container figure figcaption #item_toolbar_container button { font-size:small; margin-right:0.2em; }
#_lisa_container figure figcaption #item_metadata_container { display:inline-block; text-align:center; padding:0.4em 0; }
#_lisa_container figure figcaption #item_metadata_container .attribute { display:block; }
#_lisa_container figure figcaption #item_metadata_container .attribute > div { display:inline; }
#_lisa_container figure figcaption #item_metadata_container .attribute > .aname { font-weight:bold; }
#_lisa_container figure figcaption #item_metadata_container input[type="text"] { width:95%; }


#_lisa_message_container { display:block; width:100%; position:fixed; bottom:0px; z-index:9999; text-align:center; }
#_lisa_message_container .log { display:inline; margin:auto; background-color:#000000; color:#ffff00; font-size:medium; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:2rem; padding: 0.5rem 2rem;}
._lisa_hide { display:none !important; }
._lisa_key { font-family:monospace; padding:1px 6px; background:linear-gradient(to bottom,#f0f0f0,#fcfcfc);; border:1px solid #e0e0e0; white-space:nowrap; color:#303030; border-bottom-width:2px; border-radius:3px; font-size:1.2em; }
._lisa_txt_warning { color:red; }

#_lisa_attribute_container { position:absolute; display:inline-block; background-color:white; margin:0em; }
#_lisa_attribute_container table { border-collapse:collapse; border:1px solid #424242; padding:1em; }
#_lisa_attribute_container table th { border:1px solid #424242; padding:1em; }
#_lisa_attribute_container table td { border:1px solid #424242; padding:1em; }
#_lisa_attribute_container table select { font-size:small; }

#_lisa_toolbar_container { display:block; border:1px solid #424242; margin-bottom:1em; padding:0.4em 0.5em;}
#_lisa_toolbar_container div { display:inline; }
#_lisa_toolbar_container div:first-child { margin-right:1em; }
#_lisa_toolbar_container div:not(:first-child) { padding:0 1em; }
#_lisa_toolbar_container div button { font-size:small; }
